<div class="edit">
  <div class="edit__body">
    <div class="edit__column_l">
      <img src="https://w7.pngwing.com/pngs/841/727/png-transparent-computer-icons-user-profile-synonyms-and-antonyms-android-android-computer-wallpaper-monochrome-sphere.png" alt="">
      <input #input type="file">
      <button (click)="triggerClick()" type="button" class="edit__button_img">Загрузить изображение</button>
    </div>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="edit__column_b">
      <p class="edit__signature">Имя</p>
      <input formControlName = "name" type="text" class="edit__input">
      <p class="edit__signature">Фамилия</p>
      <input formControlName = "surname" type="text" class="edit__input">
      <p class="edit__signature">Специальность</p>
      <input formControlName = "direction" type="text" class="edit__input">
      <p class="edit__signature">Технологии, которыми ты владеешь</p>
      <div class="edit__add-technology">
        <input formControlName = "technology" type="text" class="edit__input-technology">
        <button (click)="addTechnology()" type="button" class="edit__add-button">Добавить умение</button>
      </div>
      <div class="edit__technologies">
        <ul class="edit__technologies-list">
          <li *ngFor="let technology of form.get('technologies')['controls']" class="edit__technology">
            {{technology.value}}
          </li>
        </ul>
        <button type="button" (click)="deleteTechnology()" class="edit__button-delete">Удалить умение</button>
      </div>
      <p class="edit__signature">Дополнительная информация</p>
      <textarea formControlName = "addInfo" class="edit__add-info"></textarea>
      <button type="submit" class="edit__button">Сохранить изменения</button>
    </form>
  </div>
</div>
