<div class="about">
  <h2>Для чего нужен наш сервис</h2>
  <p>
    Предположим, что ты молодой it-специалист в любой области, будь то Frontend,
    Backend, Веб-дизайнер, SEO, QA и так далее. Ты уже достаточно много узнал в
    своей области и готов устроиться на свою первую работу. Но достаточно быстро
    ты сталкиваешься с тем, что почти все компании сейчас требуют от кандидатов
    опыт работы(желательно коммерческий).
  </p>
  <p>
    Теперь рассмотрим другую ситуацию. Вы опытный специалист, который ищёт себе в
    команду молодых и перспективных разработчиков, чтобы собрать свою собственную
    команду за относительно небольшие деньги.
  </p>
  <p>
    Наш сервис решают обе эти проблемы. Начинающие специалисты могут найти здесь
    команду разработчиков и совместно сделать крутой проект, который попадёт в
    портфолио к каждому, а опытные специалисты смогут построить свою команду с
    нуля.
  </p>
  <p>Заинтересовало? Тогда присоединяйся!</p>
  <a class="about__back" [routerLink]="['/auth']"><span>&#8592;</span>Назад</a>
  <a [routerLink]="['/auth', 'registrationbase']">Зарегистрироваться <span>&#8594;</span></a>
</div>
