.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
  background-color: green;
	&__container{
		padding: 0 50px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		min-height: 60px;
	}
}

.menu {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	// .menu__logo
	&__logo {
      font-size: 1.5rem;
			color: white;
  	}
   // .menu__list
   &__list {
    display: flex;
		align-items: center;
    & > li{
      position: relative;
    }
   }
	// .menu__link
   &__link {
    cursor: pointer;
    position: relative;
    &:hover{
      &::after{
        border-top: 10px solid gray;
      }
    }
      & img{
        position:relative;
        width: 20px;
        height: 20px;
        border-radius: 100%;
      }
      &::after{
        max-width: 15px;
        max-height: 10px;
        margin: 0px 0px 0px -5px;
        position: absolute;
        top: 100%;
        content: '';
        border: 5px solid transparent;
        border-top: 10px solid white;
        transform-origin: 50% 35%;
        transition-property: transform;
        transition-duration: .4s;
        transition-timing-function: ease;
    }
   }
	// .menu__icon
	&__icon {
      display: none;
    	cursor: pointer;
   }
	&__body {
	}
  &__sublist{
    text-align: center;
    min-width: 150px;
    background-color: green;
    border: 3px solid gray;
    position: absolute;
    right: -10px;
    top: 15px;
    & > li{
      padding: 10px;
      border-bottom: 2px solid #fff;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  &__sublink{
    color: #fff;
    cursor:pointer;
  }
}
.sublist{
  &__link{
    cursor: pointer;
    color: #fff;
    & span{
      font-weight: 700;
    }
  }
}


// Burger menu styles
@media screen and (max-width: 768px) {
    // .menu
    .menu{
		// .menu__icon
		&__icon{
			z-index: 1;
			display: block;
			position: absolute;
			width: 30px;
			height: 18px;
			top: 20px;
			right: 20px;
			cursor: pointer;
			// Rendering a burger
			&::before, &::after,& span{
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition-duration: 0.3s;
				transition-property: all;
				transition-timing-function: ease;
				transition-delay: 0s;
				background-color: white;
			}
			&::before, &::after{
			content: "";
			}
			&::before{
				top: 0;
			}
			&::after{
				bottom: 0;
			}
			& span{
			top: 50%;
			transform: scale(1) translate(0,-50%);
			}
			// .menu__icon_active
			&._active{
				position: fixed;
				top: 60px;
				& span{
					background-color: white;
					transform: scale(0) translate(0,-50%);
				}
				&::before{
					background-color: white;
					top: 50%;
					transform: rotate(-45deg) translate(0,-50%);
				}
				&::after{
					background-color: white;
					top: 50%;
					transform: rotate(45deg) translate(0,-50%);
				}
			}
		}
		// .menu__body
		&__body{
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: green;
			padding: 170px 30px 30px 50px;
			transition-duration: 0.3s;
			transition-property: top;
			transition-timing-function: ease;
			transition-delay: 0s;
			overflow: auto;
			&._active{
				top: 0;
			}
			&::before{
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 90px;
				z-index: 0;
			}
		}
		// .menu__list
		&__list{
			position: relative;
			z-index: 150;
			flex-direction: column;
			align-items: center;
			li{
				padding: 0;
				margin-right: 0;
				margin-bottom: 40px;
				}
		}
		// .menu__link
		&__link{
			font-size: 25px;
			color: #fff;
		}
	}
}

.main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
  flex: 1 1 auto;
}
.footer{
  bottom: 0;
  position: fixed;
  min-width: 100%;
  height: 50px;
  background-color: green;
}
