<div *ngIf="!loading;else loader" class="home">
  <input type="text" class="home__search">
  <ul class="home__list">
    <li class="home__link">
      <div class="home__card">
        <div class="home__img">
          <img src="" alt="">
        </div>
        <div class="home__info">
          <div class="home__name">Александр Ионов</div>
          <div class="home__direction">Frontend Developer</div>
        </div>
      </div>
    </li>
  </ul>
</div>
<ng-template #loader>
  <div class="loading__container">
    <div class="loading">
    </div>
  </div>
</ng-template>
