<div *ngIf="!loading;else loader" class="personal">
  <div class="personal__body">
    <div class="personal__column_l">
      <img [src]="img" alt="">
    </div>
    <div class="personal__column_b">
      <p class="personal__signature">Имя</p>
      <div class="personal__name">{{name}}</div>
      <p class="personal__signature">Фамилия</p>
      <div class="personal__surname">{{surname}}</div>
      <p class="personal__signature">Специальность</p>
      <div class="personal__direction">{{direction}}</div>
      <p class="personal__signature">Технологии, которыми ты владеешь</p>
      <ul class="personal__technologies">
        <li *ngFor="let technology of technologies" class="personal__technology">{{technology}}</li>
      </ul>
      <p class="personal__signature">Дополнительная информация</p>
      <div class="personal__add-info">
        <p>{{addInfo}}</p>
      </div>
      <button type="button" [routerLink]="['edit']" class="personal__button">Редактировать профиль</button>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="loading__container">
    <div class="loading">
    </div>
  </div>
</ng-template>
